<div class="block text-left">
  <a class="info-thumbnail-link" href="<%= event.url %>">
    <div class="thumbnail">
      <%= image_tag(event.image) %>
      <div class="meta">
        <h3><%= event.title %></h3>
        <h5><%= event.date_info %></h5>
        <p class="description">
          <%= event.description %>
          <br />
          <%= link_to "Read more...", event.url %>
        </p>
      </div>
    </div>
  </a>
</div>
