<div class="list-group bright background-clouds color-text">
  <div class="list-group-item"><h3>EECS</h3></div>
  <%= link_to 'About Our School', about_path, :class => "list-group-item #{'active' if controller.action_name == 'about'}" %>
  <%= link_to 'Leadership', about_leadership_path, :class => "list-group-item #{'active' if controller.action_name == 'leadership'}" %>
  <%= link_to 'Our Staff', about_staff_path, :class => "list-group-item #{'active' if controller.action_name == 'staff'}" %>
  <%= link_to 'School Hours', about_hours_path, :class => "list-group-item #{'active' if controller.action_name == 'hours'}" %>
  <%= link_to 'Academics', about_academics_path, :class => "list-group-item #{'active' if controller.action_name == 'academics'}" %>
  <%= link_to 'Sustainability', about_sustainability_path, :class => "list-group-item #{'active' if controller.action_name == 'sustainability'}" %>
  <%= link_to 'EECS In The News', about_news_path, :class => "list-group-item #{'active' if controller.action_name == 'news'}" %>
</div>
