<% @staff_members.each do |staff| %>
  <div class="col-md-12 staff">
    <div class="media clearfix">
      <div class="col-md-4">
        <%= image_tag staff.image_url(:square_sm) %>
      </div>
      <div class="col-md-8">
        <h3 class="media-heading"><%= link_to staff.full_name,  admin_user_posts_path(staff) %></h3>
        <p class="media-date"><%= staff.title %></p>
        <p><%= mail_to staff.email %></p>
        <p><%= staff.phone %></p>
        <p><%= staff.bio %> </p>
      </div>
    </div>
  </div>
<% end %>
