
<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">About us</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'about_sidebar' %>
      </div>
      <div class="col-md-9">
        <div class="content">
          <h1><span>Sustainability</span></h1>
          <p>From our building structure to our playgrounds to our lunch programs, we are an environmentally progressive school, set in Maine's most urban city.</p>
          <p>In our intiative to help children realize their potential as conscious, educated and compassionate thinkers and leaders, environmental responsibility and awareness is woven throughout everything we do. Here are just some of the ways we make these issues a part of the EECS experience:

          <ul>
            <li><a href="#architecure">The architecture of our building</a></li>
            <li><a href="#architecure">Our community garden</a></li>
            <li><a href="#architecure">Solar Energy</a></li>
            <li><a href="#architecure">Farm-fresh food</a></li>
            <li><a href="#architecure">Rise and Shine programs</a></li>
          </ul>
          <h2><span><a name='architecture'></a>Architecture</span></h2>
          <h5><%= link_to 'Built for sustainbility from the ground up by Stephen Blatt Architects', 'http://www.sbarchitects.com/eastEnd.html#' %></h5>
          <p>For Portland’s first new school in over 30 years, the educational program specified three 150- student, two-story “houses” in which students remain for grades K-5. The plans included meeting rooms, large gym, cafeteria, and a branch public library for community use.</p>

          <p>The entrance and classroom wings face south and provide protected outdoor play areas. The spine connecting the classroom wings provides access to special program spaces, with windows opening over a vegetated roof. The facets of the community wing step around the hill providing extraordinary views; massing hugs the site, reinforcing the topography.</p>

          <p>The interior presents a combination of vibrant colors; distinctive floor patterns are color coded by wing. Ground-faced concrete block wainscoting provides a handsome, low -maintenance surface. The exterior’s masonry stripes, wave-like window patterns, and ever-changing silver metallic siding together activate the amazing site.</p>

          <p>Certified LEED Silver.</p>

          <h4>Photos from the Architects</h4>

          <div class="row">
            <div class="col-lg-9 col-lg-9">
              <div class="info-thumbnail-link">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                  <div class="service">
                    <div class="service-name"><h3>School Front</h3><p>A warm, welcoming entrance.</p></div>
                  </div>
                  <%= image_tag("eecs_1.jpg", class: "round") %>
                </div>
              </div>

              <div class="info-thumbnail-link">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                  <div class="service">
                    <div class="service-name"><h3>The Houses</h3><p>A side view of the three 2-story houses.</p></div>
                  </div>
                  <%= image_tag("eecs_2.jpg", class: "round") %>
                </div>
              </div>

              <div class="info-thumbnail-link">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                  <div class="service">
                    <div class="service-name"><h3>Front Lobby</h3><p>Light pours into the front entrance, welcoming students, teachers and parents each day.</p></div>
                  </div>
                  <%= image_tag("eecs_3.jpg", class: "round") %>
                </div>
              </div>

              <div class="info-thumbnail-link">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                  <div class="service">
                    <div class="service-name"><h3>Main Hall</h3><p>Colorful, clean hall that leads students from the main lobby to a gymansium, lunch room, and rec rooms.</p></div>
                  </div>
                  <%= image_tag("eecs_4.jpg", class: "round") %>
                </div>
              </div>

              <div class="info-thumbnail-link">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                  <div class="service">
                    <div class="service-name"><h3>Cafeteria</h3><p>These beautiful, wide windows provide students with a sunlit room for dining.</p></div>
                  </div>
                  <%= image_tag("eecs_5.jpg", class: "round") %>
                </div>
              </div>

              <div class="info-thumbnail-link">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                  <div class="service">
                    <div class="service-name"><h3>Classroom</h3><p>There is no shortage of natural light, especially in our classrooms.</p></div>
                  </div>
                  <%= image_tag("eecs_6.jpg", class: "round") %>
                </div>
              </div>

              <div class="info-thumbnail-link">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                  <div class="service">
                    <div class="service-name"><h3>Back View</h3><p>Conveniently placed exits, close to each student's 'house', allow students and staff quick and easy access to the state of the art playground.</p></div>
                  </div>
                  <%= image_tag("eecs_7.jpg", class: "round") %>
                </div>
              </div>

              <div class="info-thumbnail-link">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                  <div class="service">
                    <div class="service-name"><h3>Cafeteria Wing</h3><p>The well manicured hills and trees give students and staff a pleasant vista while they lunch together.</p></div>
                  </div>
                  <%= image_tag("eecs_8.jpg", class: "round") %>
                </div>
              </div>
            </div>
          </div>

          <p>Photos: Dan Gair/Blind Dog Photo</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'people' %>
