
<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">Volunteers</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'about_sidebar' %>
      </div>
      <div class="col-md-9">
        <div class="content">
          <h1><span>Parent Volunteer Information</span></h1>
          <p>Thank you for your interest in volunteering; your help is needed in so many ways! If you want to see the ways volunteers helped EECS last year, take a look at <%= link_to 'this newsletter', pages_download_pdf_url %> thanking all of the inspirational people who helped make last year succesful!</p> 

          <p>Here are the people to contact to find out more about how you can get involved:</p>
          
          <div class="row article">
            <div class="col-md-4 col-sm-4">
              <%= image_tag("eecs_6.jpg") %>
            </div>
            <div class="meta col-md-6 col-sm-6">
              <h3>Classroom</h3>
              <p class="description">
                There are many various volunteer opportunities in the classrooms, from reading to children, helping on field trips, helping provide supplies for special activities, and many others.
              </p>
              <p>Contact: <%= mail_to "colek@portlandschools.org", "Kathy Cole" %> or contact your child’s teacher directly.</p> 
            </div>
          </div>

          <div class="row article">
            <div class="col-md-4 col-sm-4">
              <%= image_tag("library.png") %>
            </div>
            <div class="meta col-md-6 col-sm-6">
              <h3>Library</h3>
              <p class="description">
                Book shelving, check-in & out, and special projects.
              </p>
              <p>Contact: <%= mail_to "mccarthyl@portlandschools.org", "Lynn McCarthy"%></p> 
            </div>
          </div>

          <div class="row article">
            <div class="col-md-4 col-sm-4">
              <%= image_tag("pto.png") %>
            </div>
            <div class="meta col-md-6 col-sm-6">
              <h3>Parent Teacher Organization</h3>
              <p class="description">Special events, snack pantry, teacher appreciation, and more!
              </p>
              <p>Contact: <%= mail_to "dyan@maine.rr.com", "Dyan Albano"%></p> 
            </div>
          </div>

          <div class="row article">
            <div class="col-md-4 col-sm-4">
              <%= image_tag("film_festival.png") %>
            </div>
            <div class="meta col-md-6 col-sm-6">
              <h3>Children's Film Festival</h3>
              <p class="description">
                A city wide community arts project.
              </p>
              <p>Contact: <%= mail_to "boxermacomber@earthlink.net", "Lauri Boxer-Macomber"%></p> 
            </div>
          </div>

          <div class="row article">
            <div class="col-md-4 col-sm-4">
              <%= image_tag("rise_shine.png") %>
            </div>
            <div class="meta col-md-6 col-sm-6">
              <h3>Rise & Shine</h3>
              <p class="description">
                Share your talents to help students start their school day. New ideas always welcome!
              </p>
              <p>Contact: <%= mail_to "nogard@portlandschools.org", "Dan Nogar"%></p> 
            </div>
          </div>

          <div class="row article">
            <div class="col-md-4 col-sm-4">
              <%= image_tag("garden1.png") %>
            </div>
            <div class="meta col-md-6 col-sm-6">
              <h3>Garden</h3>
              <p class="description">
                Come play in the dirt to help our gardens grow!
              </p>
              <p>Contact: <%= mail_to "kateconnolly@gwi.net", "Kate Connolly"%></p> 
            </div>
          </div>

          <div class="row article">
            <div class="col-md-4 col-sm-4">
              <%= image_tag("walking_school.jpg") %>
            </div>
            <div class="meta col-md-6 col-sm-6">
              <h3>Walking School Bus</h3>
              <p class="description">
                Lead a walking ‘bus’ for a fun and safe group walk to school.
              </p>
              <p>Contact: <%= mail_to "sarah@sarahcushman.com", "Sarah Cushman"%></p> 
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'people' %>
