<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">Blog</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

<section class="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'pages/about_sidebar' %>
      </div>
      <div class="col-md-9">
        <div class="content">
          <p>All posts by <%= @user.full_name %>, <%= @user.title %></p> 
          <% @posts.each do |post| %>
            <div class='post'>
              <h2><%= post.title %></h2>
            
              <div class="row">
                <div class="col-md-12 meta">
                  <div class="avatar pull-left">
                    <%= image_tag @user.image_url(:square_sm) %>
                  </div>
                  <p>Posted by <%= post.author %><br/>
                  <%= l post.created_at, format: :pretty %></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 body">
                  <%= render_markdown post.body %>
                </div>
              </div>
              <% if post.images.present? %>
                <div class="attachments">
                  <p><strong>Images</strong></p>
                  <% post.images.each do |attachment| %>
                    <%= link_to image_tag(attachment.file_url(:square_sm)), attachment.file_url, :target => '_blank' %>
                  <% end %>
                </div>
              <% end %>
              <% if post.files.present? %>
                <div class="attachments">
                  <p><strong>Files</strong></p>
                  <% post.files.each do |attachment| %>
                    <%= link_to attachment.file_url.split('/').last, attachment.file_url, :target => '_blank' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<section>
